/node_modules
/uploads
.env
/public/img/scripts
/data/uploads/separador-ferias
/data/ferias-funcionario/FERIAS - TAXCO SERVIÇOS CONTABEIS S S
/data/ferias-funcionario
/data/atas_geradas
/data/atas_modelos
/data/excel-abas-pdf
/data/extrator-zip-rar
/api/__pycache__
